@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* COLORS */

:root{
  --black: #071629;
  --white: #ffff;
  --light-red: #FF6565;
}

/* ---------------------------------------- GENERAL CODES --------------------------------------------- */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Source Sans 3', sans-serif;
}

body {
  background: var(--white);
  max-width: 100vw;
}

/* ---------------------------------------- HEADER CODES --------------------------------------------- */

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}


header {
  background: url('/images/headphones_hero_1.jpg') no-repeat center/cover;
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 10em;
}

nav .logo {
  width: 161px;
  height: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  max-width: 255px;
  height: 15px;
}

nav ul li {
  margin-left: 26px;
  font-size: 12px;
  font-weight: 700;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:active {
  color: var(--light-red);
}

#menu-toggle{
  display: none;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 637px;
  margin: auto;
  padding: 0 20px 40px ;
}

.hero-text h1 {
  margin-top: 100px;
  font-size: 32px;
}

.hero-text .sub-title { 
  font-size: 16px;
  font-weight: 600;
}

.hero-text .description {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-top: 2em;
}

.cta-button {
  background: var(--light-red);
  color: var(--white);
  margin: 2em auto 2em;
  padding: .6em 1em;
  border: 1px #979797;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button:hover, .cta-button:active {
  opacity: 0.9;
}


/* ---------------------------------------- SERVICES CODES --------------------------------------------- */

#what-we-do {
  text-align: center;
  padding: 50px 20px;
  background: var(--white);
  height: fit-content;
}

#what-we-do .text {
  max-width: 637px;
  max-height: 184px;
  margin: 30px auto;
}

#what-we-do .text p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 6em;
}

#what-we-do .text h2 {
  font-size: 32px;
  width: 207px;
  margin: 1em auto;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1002px;
  margin: 5em auto;
}

.service {
  width: 207px;
  transition: transform 0.2s, opacity 0.2s; 
}

.service:hover{
  transform: scale(1.1);
  opacity: 0.7;
}

.service p {
  font-size: 14px;
  font-weight: 400;
  width: 207px;
  margin-top: 1em;
}

.service img {
  height: 80px;
  width: 80px;
  margin-bottom: 1em;
}

/* ---------------------------------------- RESULTS CODES --------------------------------------------- */

#results {
  background: url('/images/headphones_hero_2.jpg') no-repeat center center/cover;
  color: var(--white);
  height: fit-content;
  text-align: center;
  position: relative;
  padding: 120px 20px;
}

#results h2 {
  font-weight: 500;
}

#results .sub-txt {
  font-weight: 400;
  font-size: 14px;
  max-width: 637px;
  text-align: center;
  margin: 2.5em auto;
}

.stat {
  position: relative;
  margin-top: 2em;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, opacity 0.2s; 
}

.stat:hover {
  transform: scale(1.1); 
  opacity: 0.8;
}


.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stat img {
  width: 190px;
  height: 190px;
}

.stat span {
  font-size: 46px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.stat p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  width: 111px;
}



/* ---------------------------------------- CONTACT CODES --------------------------------------------- */

#contact-us {
  background-color: var(--white);
  height: fit-content;
}

#contact-us h2 {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-size: 32px;
}

#contact-us form {
  max-width: 335px;
  margin: 0 auto;
}


#contact-us input, 
#contact-us textarea {
  max-width: 335px; 
  min-width: 300px;
  margin-bottom: 40px;
  background-color: var(--white);
  border: none;
  border-bottom: 1px solid #ccc6c6;
  height: 29px; 
}

#contact-us textarea::placeholder,
#contact-us input::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}


/* ---------------------------------------- FOOTER CODES --------------------------------------------- */

footer {
  text-align: center;
  padding: 20px 0;
  background: var(--black);
  color: var(--white);
  height: fit-content;
}

.footer-logo {
  margin-bottom: 10px;
  width: 161px;
}

.socials a {
  margin: 0 10px;
  display: inline-block;
}

.socials i {
  color: var(--black);
  background-color: var(--white);
  padding: 6px 8px;
  border-radius: 50%;
}

.socials img {
  width: 30px;
  height: 30px;
}

.logo-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10em;
  padding-top: 3em;
  padding-bottom: 2em;
}

footer p {
  font-size: 12px;
  font-weight: 300;
}

/* ---------------------------------------- RESPONSIVE DESIGN CODES --------------------------------------------- */

@media screen and (max-width: 480px) {
  nav ul{
    display: none;
  }

  #menu-toggle{
    display: block;
  }


  #contact-us form{
    width: 250px;
    margin: 0 auto;
  }

  .logo-icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 661px) {
  nav ul{
    display: none;
  }

  #menu-toggle{
    display: block;
  }
}