@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Source Sans 3', sans-serif;
}

body {
  color: #333;
  background: #f4f4f4;
  max-width: 1000px;
  text-align: center;
}

header {
  background: url('/images/headphones_hero_1.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 10em;
}

nav .logo{
  width: 161px;
  height: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 255px;
  height: 15px;
}

nav ul li {
  margin-left: 26px;
  font-size: 12px;
  font-weight: 700;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero-text {
  max-width: 637px;
  max-height: 313px;
  margin: auto;
  padding: 20px;
}

.hero-text h1{
  margin-top: 100px;
}

.hero-text sub-title{
  font-size: 16px;
  font-weight: 600;
}

.hero-text .description{
  font-size: 16px;
  font-weight: 300;
  margin-top: 4em;
  width: 637px;
}

.cta-button {
  background: #FF6565;
  color: #fff;
  width: 162px;
  height: 44px;
  border: 1px #979797;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin: 2.5em auto;
}

.cta-button:hover,.cta-button:active {
  opacity: 0.9;
}

/* SERVICES */

.what-we-do{
  text-align: center;
  padding: 50px 20px;
  background: #fff;
  height: 80vh;
}

.what-we-do .text{
  max-width: 637px;
  max-height: 184px;
  margin: 30px auto;
}

.what-we-do .text p{
  font-weight: 400;
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 6em;
}

.what-we-do .text h2{
  font-size: 32px;
  width: 207px;
  margin: 1em auto;
}

.services{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1002px;
  margin: 0 auto;
  
}

.service{
  width: 207px;
}

.service p{
  font-size: 14px;
  font-weight: 400;
  width: 207px;
  margin-top: 1em;
}

.service img {
  height: 80px;
  width: 80px;
  margin-bottom: 1em;
}

/* RESULTS */

.results{
  background: url('/images/headphones_hero_2.jpg') no-repeat center center/cover;
  color: #fff;
  height: 80vh;
  text-align: center;
  position: relative;
  padding: 120px 20px;
}

.results h2{
  font-weight: 500;
}

.results .sub-txt{
  font-weight: 400;
  font-size: 14px;
  width: 637px;
  text-align: center;
  margin: 2.5em auto;
}

.stat {
  position: relative;
  margin-top: 2em;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stat img{
  width: 190px;
  height: 190px;
}
.stat span {
  font-size: 46px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.stat p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  width: 111px;
}

/* CONTACT */

.contact-us{
  background-color: #f2f2f2;
  height: 80vh;
}

.contact-us h2{
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-size: 32px;
}

.contact-us form {
  max-width: 335px;
  margin: 0 auto;
}

.contact-us input, .contact-us textarea {
  width: 335px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid #ccc6c6;
  height: 29px;
  
}

.contact-us textarea::placeholder, .contact-us input::placeholder{
  font-size: 14px;
  font-weight: 600;
  color: #071629;
}

.contact-us button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 20px 0;
  background: #1a1a1a;
  color: #fff;
  height: 25vh;
}

.footer-logo {
  margin-bottom: 10px;
  width: 161px;
}

.socials a {
  margin: 0 10px;
  display: inline-block;
}

.socials i{
  color: #071629;
  background-color: #f2f2f2;
  padding: 6px 8px;
  border-radius: 50%;
}

.socials img {
  width: 30px;
  height: 30px;
}

.logo-icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10em;
  padding-top: 3em;
  padding-bottom: 2em;
}

footer p{
  font-size: 12px;
  font-weight: 300;
}